body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header img {
    max-width: 150px;
}

nav {
    /* Styling for navigation */
}

#intro {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
